body {
  margin: 0;
  padding: 0;

  font-size: 16px;
  line-height: 18px;
  font-family: "Roboto", "Arial", sans-serif;
  color: #000000;

  background-color: #ffffff;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;

  white-space: nowrap;

  border: 0;

  clip: rect(0, 0, 0, 0);
          clip-path: inset(100%);

  -webkit-clip-path: inset(100%);
}

.container {
  width: 1160px;
  margin: 0 auto;
  padding-right: 10px;
  padding-left: 10px;
}

.main-header,
.container-slider {
  background-color: #eeeeee;
}

.main-header {
  padding-top: 49px;
}

.main-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main-navigation-list,
.cart-navigation-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  margin-left: 200px;
  padding: 0;
  padding-top: 26px;

  list-style: none;
}

.main-navigation-list {
  justify-content: space-between;
  width: 440px;

  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
}

.cart-navigation-list {
  justify-content: flex-end;
  width: 160px;

  -webkit-box-pack: end;
  -ms-flex-pack: end;
}

.main-navigation-link,
.cart-navigation-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 30px;
  color: black;
  text-transform: uppercase;
  text-decoration: none;
}

.main-navigation-link[href]:hover,
.cart-navigation-link[href]:hover,
.main-navigation-link:focus,
.cart-navigation-link:focus {
  color: #fb565a;
}

.main-navigation-link[href]:active,
.cart-navigation-link[href]:active {
  color: #a6a6a6;
}

.main-navigation-link:not([href]) {
  position: relative;
}

.main-navigation-link:not([href])::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;

  display: block;
  width: 100%;
  height: 2px;
  margin-bottom: -10px;

  background-color: #fb565a;
}

.cart-navigation-list .cart-navigation-link {
  position: relative;

  padding-left: 40px;
}

.cart-navigation-link::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;

  width: 15px;
  height: 15px;

  background-image: url("../img/svg-nerds/cart-icon.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.preview {
  position: relative;

  background-color: #eeeeee;
}

.container-slider-controls {
  position: absolute;
  bottom: 104px;
  left: 50%;
  z-index: 100;

  width: 160px;
  height: 18px;

  font-size: 0;
  text-align: center;

  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
}

.container-slider-controls label {
  position: relative;

  display: inline-block;
  width: 18px;
  height: 18px;
  margin-right: 15px;

  border-radius: 50%;
  cursor: pointer;
}

.container-slider-controls label::after {
  content: "";
  position: absolute;
  top: 18px;
  left: 18px;
  z-index: 1;

  width: 18px;
  height: 18px;

  background: #ffffff;
  border-radius: 50%;
}

.slider-list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.slider-item {
  display: none;
  margin-left: -10px;
  padding: 0;
  padding-top: 75px;
  padding-bottom: 79px;
}

.slider-item:nth-child(1) {
  background-image: url("../img/slide1.jpg");
  background-repeat: no-repeat;
  background-position: 91% 90%;
}

.slider-item:nth-child(2) {
  background-image: url("../img/slide2.jpg");
  background-repeat: no-repeat;
  background-position: 100% 0;
}

.slider-item:nth-child(3) {
  background-image: url("../img/slide3.jpg");
  background-repeat: no-repeat;
  background-position: 100% 0;
}

#btn-first:checked ~ .slider-list .slider-item:nth-child(1) {
  display: block;
}

#btn-second:checked ~ .slider-list .slider-item:nth-child(2) {
  display: block;
}

#btn-third:checked ~ .slider-list .slider-item:nth-child(3) {
  display: block;
}

#btn-first:checked ~ .container-slider-controls .slider-controls-item--1::before,
#btn-second:checked ~ .container-slider-controls .slider-controls-item--2::before,
#btn-third:checked ~ .container-slider-controls .slider-controls-item--3::before {
  content: "";
  position: absolute;
  top: 96%;
  left: 96%;
  z-index: 2;

  width: 8px;
  height: 8px;
  margin: 4px;

  background-color: inherit;
  border: 2px solid #c1c1c1;
  border-radius: 50%;
}

.features-header {
  max-width: 600px;
  margin: 0;
  margin-bottom: 27px;

  font-weight: 500;
  font-size: 55px;
  line-height: 55px;
  color: #000000;
}

.text {
  margin: 0;

  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #283136;
}

.slider-item p:nth-child(2) {
  max-width: 430px;
  margin: 0;
  margin-bottom: 39px;

  color: #283136;
}

.button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
      flex-wrap: wrap;
  justify-content: center;
  width: 200px;
  padding: 15px 0;

  font: inherit;
  font-size: 16px;
  line-height: 18px;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;

  background-color: #fb565a;
  border: none;
  border-radius: 3px;

  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -ms-flex-wrap: wrap;
}

.button:hover,
.button:focus {
  background-color: #e74246;
}

.button:active {
  color: rgba(255, 255, 255, 0.3);

  background-color: #d7373b;
  -webkit-box-shadow: inset 0 3px 0 rgba(0, 1, 1, 0.1);
          box-shadow: inset 0 3px 0 rgba(0, 1, 1, 0.1);
}

.slider-button {
  width: 240px;

  font-weight: 300;
  text-align: center;
}

.button-red {
  width: 160px;
}

.button-red:hover,
.button-red:focus {
  background-color: #e74246;
}

.button-red:active {
  color: rgba(255, 255, 255, 0.3);

  background-color: #d7373b;
  -webkit-box-shadow: inset 0 3px 0 rgba(0, 1, 1, 0.1);
          box-shadow: inset 0 3px 0 rgba(0, 1, 1, 0.1);
}

.button-green {
  width: 160px;

  background-color: #00ca74;
}

.button-green:hover,
.button-green:focus {
  background-color: #00bc6c;
}

.button-green:active {
  color: rgba(255, 255, 255, 0.3);

  background-color: #00aa62;
  -webkit-box-shadow: inset 0 3px 0 rgba(0, 1, 1, 0.1);
          box-shadow: inset 0 3px 0 rgba(0, 1, 1, 0.1);
}

.button-yellow {
  width: 160px;

  background-color: #efc84a;
}

.button-yellow:hover,
.button-yellow:focus {
  background-color: #eab534;
}

.button-yellow:active {
  color: rgba(255, 255, 255, 0.3);

  background-color: #e5a722;
  -webkit-box-shadow: inset 0 3px 0 rgba(0, 1, 1, 0.1);
          box-shadow: inset 0 3px 0 rgba(0, 1, 1, 0.1);
}

.cards-wrapper {
  padding-top: 78px;
  padding-bottom: 80px;
}

.cards-wrapper h3 {
  margin: 0;
  margin-top: 22px;
  margin-bottom: 16px;

  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  text-transform: uppercase;
}

.cards-wrapper p {
  width: 255px;
  margin: 0;
  padding-bottom: 34px;
}

.cards-wrapper-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding: 0;

  list-style: none;
}

.cards-wrapper-list li {
  width: 300px;
  min-height: 348px;
  margin-left: 100px;
}

.cards-wrapper-list li:nth-child(1) {
  margin-left: 0;

  background-repeat: no-repeat;
  background-position: top left;
}

.cards-wrapper-list li:nth-child(2) {
  background-repeat: no-repeat;
  background-position: top left;
}

.cards-wrapper-list li:nth-child(3) {
  background-repeat: no-repeat;
  background-position: top left;
}

.about-us {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
      flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 1160px;
  margin: auto;
  padding-bottom: 74px;

  border-top: 2px solid #eeeeee;

  -webkit-box-align: center;
  -webkit-box-direction: normal;
  -webkit-box-orient: horizontal;
  -webkit-box-pack: justify;
  -ms-flex-align: center;
  -ms-flex-pack: justify;
}

.about-us-left {
  width: 660px;
}

.about-us h3 {
  margin: 0;
  margin-bottom: 33px;
  padding-top: 72px;

  font-weight: 500;
  font-size: 45px;
  line-height: 45px;
}

.text-bold {
  margin: 0;
  margin-top: 40px;
  margin-bottom: 24px;

  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  text-transform: uppercase;
}

.about-us-list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.about-us-list li {
  margin-bottom: 24px;
  padding-left: 42px;
}

.about-us-list li:last-child {
  margin-bottom: 0;
}

.about-us-right {
  width: 360px;
  padding-top: 40px;
}

.about-us-right .text-bold {
  margin-top: 32px;

  text-align: center;
}

.text-order {
  position: relative;

  margin: 0;
  margin-bottom: 24px;
  margin-left: -5px;
  padding: 0;
}

.text-order:before {
  content: "";
  position: absolute;
  top: 11px;
  left: 5px;

  width: 25px;
  height: 2px;

  background-color: #fb565a;
}

.text-small {
  font-size: 16px;
  line-height: 18px;
}

.sup {
  position: absolute;
  top: -7px;

  font-weight: 500;
  font-size: 25px;
}

.our-advantages-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: space-between;
  width: 345px;
  margin: 0;
  padding: 0;
  padding-top: 7px;

  list-style: none;

  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
}

.our-advantages-list li {
  width: 100px;
}

.our-advantages-list li:last-child {
  width: 108px;
}

.numbers {
  position: relative;

  margin: 0;
  margin-bottom: 10px;

  font-weight: 700;
  font-size: 45px;
  line-height: 65px;
  white-space: nowrap;
}

.partners {
  margin: 0;
  margin-bottom: 80px;
  padding-top: 40px;
  padding-bottom: 42px;

  border-top: 2px solid #eeeeee;
  border-bottom: 2px solid #eeeeee;
}

.partners-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
      flex-wrap: wrap;
  margin: 0;
  padding: 0;

  list-style: none;

  -ms-flex-wrap: wrap;
}

.partners-link {
  display: block;
  margin-top: 20px;
  padding: 0 30px;

  text-decoration: none;
}

.partners-item {
  position: relative;

  width: 260px;
  margin: 0;
  margin-right: 40px;
  padding: 0;
}

.partners-item:first-child {
  margin-left: 0;
}

.partners-item:last-child {
  margin-right: 0;
}

.partners-link {
  opacity: 0.2;
}

.partners-link:hover,
.partners-link:focus {
  opacity: 1;
}

.partners-link:active {
  opacity: 0.1;
}

.partners-link-1 {
  display: block;
  margin-top: 5px;
  padding: 0 25px;
}

.partners-link-2 {
  display: block;
  margin-top: 24px;
  padding: 0 35px;
}

.partners-link-3 {
  display: block;
  margin-top: 10px;
  padding: 0 45px;
}

.partners-item-line::before {
  content: "";
  position: absolute;
  top: 25px;
  left: -22px;

  width: 2px;
  height: 52px;

  background-color: #eeeeee;
}

.contacts-wrapper {
  position: relative;
}

.contacts-wrapper-catalog {
  padding-top: 60px;
}

.map {
  position: relative;

  height: 416px;
}

.map iframe {
  position: absolute;
  z-index: 2;

  width: 100%;
  height: 416px;

  border: none;
}

.map-image {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;

  vertical-align: middle;
  text-align: center;
}

.map-image-item {
  height: 416px;
}

.contacts {
  position: absolute;
  top: 54px;
  z-index: 5;

  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 319px;
  height: 319px;
  padding: 0 50px;

  background-color: #ffffff;
}

.contacts-catalog {
  margin-top: 60px;
}

.contacts h3 {
  margin: 0;
  margin-top: 48px;
  margin-bottom: 23px;

  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
}

.contacts-text {
  margin: 0;
  margin-bottom: 19px;
  padding-right: 5px;
  padding-left: 2px;

  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: #666666;
}

.contacts-button {
  width: 218px;
  margin-top: 37px;
}

.catalog-footer {
  margin-top: 60px;
}

.footer-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 70px 0;
}

.footer-social-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: space-between;
  width: 260px;
  margin: 0;
  margin-right: 140px;
  padding: 0;

  list-style: none;

  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
}

.footer-social-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 78px;
  height: 78px;

  text-decoration: none;

  background-color: #e1e1e1;
  border-radius: 50%;

  -webkit-box-align: center;
  -webkit-box-pack: center;
  -ms-flex-align: center;
  -ms-flex-pack: center;;
}

.footer-social-link:hover,
.footer-social-link:focus {
  background-color: #e74246;
}

.footer-social-link:active {
  background-color: #d7373b;
  -webkit-box-shadow: inset 0 3px 0 0 #c13135;
          box-shadow: inset 0 3px 0 0 #c13135;
}

.footer-social-link:active img {
  opacity: 0.3;
}
.footer-social-wrapper {
  width: 560px;
}

.footer-social-main {
  margin: 0;
  margin-top: 3px;
  margin-bottom: 12px;

  font-weight: 700;
  font-size: 36px;
  line-height: 36px;
  color: #000000;
}

.footer-social-text {
  margin: 0;

  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #444444;
}

.nerds-logo[href]:hover,
.nerds-logo[href]:focus {
  opacity: 0.8;
}

.nerds-logo[href]:active {
  opacity: 0.3;
}

.caption-catalog {
  margin: 0;
  margin-bottom: 27px;
  padding-top: 73px;
  padding-bottom: 110px;

  font-weight: 500;
  font-size: 55px;
  line-height: 55px;
  text-align: center;
  color: #000000;

  background-color: #eeeeee;
}

.catalog-main-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 58px;
  padding-bottom: 60px;
}

.form {
  width: 260px;
  margin-right: 140px;
}

.fieldset-wrapper-first {
  margin-top: -5px;

  text-transform: uppercase;
}

.form fieldset {
  margin: 0;
  padding: 0;

  border: none;
}

.form ul {
  margin: 0;
  padding: 0;

  list-style: none;
}

.filter-scroll-range {
  width: 260px;
  margin-top: 50px;
  margin-bottom: 52px;
}

.filter-scroll-controls {
  position: relative;

  height: 80px;
  margin-bottom: 15px;
  padding: 0 20px;
  overflow: hidden;

  background-color: #eeeeee;
  border-radius: 5px;
}

.filter-scroll-controls .scale {
  height: 2px;
  margin-top: 39px;

  background-color: #d7dcde;
}

.filter-scroll-controls .bar {
  height: 2px;

  background-color: #00ca74;
}

.bar {
  width: 70%;
}

.filter-scroll-controls .toggle {
  position: absolute;
  top: 30px;
  left: 18px;

  width: 4px;
  height: 4px;

  background-color: #ababab;
  border: 8px solid white;
  border-radius: 50%;
  -webkit-box-shadow: 0 2px 1px 0 #cfcfcf;
          box-shadow: 0 2px 1px 0 #cfcfcf;
  cursor: pointer;
}

.filter-scroll-controls .max-toggle {
  left: 160px;
}

.price-controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: space-between;

  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
}

.price-controls input {
  width: 60px;
  margin-left: 10px;
  padding: 8px 10px;

  font: inherit;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  color: #283136;

  background: #f1f1f1;
  border: none;
  border-radius: 5px;
}

.fieldset-wrapper-second {
  margin-bottom: 45px;
}

.filter-input {
  margin-top: 19px;
  padding-left: 36px;
}

.filter-input-radio {
  position: relative;
}

.filter-input-radio:hover,
.filter-input-radio:focus {
  color: #000000;
}

.filter-input-radio:disabled {
  color: rgba(40, 49, 54, 0.3);
}

.filter-input-radio input[type="radio"] + .radio-indicator {
  position: absolute;
  top: -3px;
  left: -36px;

  width: 25px;
  height: 25px;

  background-image: url("../img/svg-nerds/radio-off.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.4;
}

.filter-input-radio input[type="radio"]:hover + .radio-indicator,
.filter-input-radio input[type="radio"]:focus + .radio-indicator {
  opacity: 1;
}

.filter-input-radio input[type="radio"]:disabled + .radio-indicator {
  opacity: 0.1;
}

.filter-input-radio input[type="radio"]:checked + .radio-indicator {
  position: absolute;
  top: -3px;
  left: -36px;

  width: 25px;
  height: 25px;

  background-image: url("../img/svg-nerds/radio-on.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.4;
}

.filter-input-radio input[type="radio"]:checked:hover + .radio-indicator,
.filter-input-radio input[type="radio"]:checked:focus + .radio-indicator {
  opacity: 1;
}

.filter-input-radio input[type="radio"]:checked:disabled + .radio-indicator {
  opacity: 0.1;
}

.filter-input-checkbox {
  position: relative;
}

.filter-input-checkbox:hover,
.filter-input-checkbox:focus {
  color: #000000;
}

.filter-input-checkbox:disabled {
  color: rgba(40, 49, 54, 0.3);
}

.filter-input-checkbox input[type="checkbox"] + .checkbox-indicator {
  position: absolute;
  top: -2px;
  left: -36px;

  width: 23px;
  height: 23px;

  background-image: url("../img/svg-nerds/checkbox-off.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.4;
}

.filter-input-checkbox input[type="checkbox"]:hover + .checkbox-indicator,
.filter-input-checkbox input[type="checkbox"]:focus + .checkbox-indicator {
  opacity: 1;
}

.filter-input-checkbox input[type="checkbox"]:disabled + .checkbox-indicator {
  opacity: 0.1;
}

.filter-input-checkbox input[type="checkbox"]:checked + .checkbox-indicator {
  position: absolute;
  top: -2px;
  left: -36px;

  width: 27px;
  height: 23px;

  background-image: url("../img/svg-nerds/checkbox-on.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.4;
}

.filter-input-checkbox input[type="checkbox"]:checked:hover + .checkbox-indicator,
.filter-input-checkbox input[type="checkbox"]:checked:focus + .checkbox-indicator {
  opacity: 1;
}

.filter-input-checkbox input[type="checkbox"]:checked:disabled + .checkbox-indicator {
  opacity: 0.1;
}

.form legend {
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
}

.form label {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #283136;
}

.button-form {
  width: 258px;
  margin: 0;
  margin-top: 50px;
  margin-right: 40px;
  padding-right: 10px;
  padding-left: 9px;

  font-weight: 500;
  color: #000000;

  background-color: #eeeeee;
}

.button-form:hover,
.button-form:focus {
  background-color: #dfdfdf;
}

.button-form:active {
  color: rgba(0, 0, 0, 0.3);

  background-color: #d5d5d5;
  outline: none;
  -webkit-box-shadow: inset 0 3px 0 rgba(0, 1, 1, 0.1);
          box-shadow: inset 0 3px 0 rgba(0, 1, 1, 0.1);
}

.container-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-basis: 360px;
  justify-content: space-between;
  align-items: baseline;

  -webkit-box-align: baseline;
  -webkit-box-pack: justify;
  -ms-flex-align: baseline;
  -ms-flex-pack: justify;
  -ms-flex-preferred-size: 360px;
}

.text-sort {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding: 0;

  list-style: none;
}

.text-filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: space-between;
  width: 762px;
  min-height: 55px;
  margin: 0;
  margin-bottom: 20px;
  padding: 0;

  -webkit-box-pack: justify;
  -ms-flex-pack: justify;;
}

.text-filter span {
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  color: #000000;
  text-transform: uppercase;
}

.text-filter span {
  margin: 0;
  margin-top: -5px;
  margin-right: 0;
  padding: 0;
}

.by-feature a {
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #000000;
  text-transform: uppercase;
}

.text-sorting-item {
  padding-right: 20px;
}

.text-sorting-link[href] {
  opacity: 0.3;
}

.text-sorting-link[href]:hover,
.text-sorting-link[href]:focus {
  opacity: 0.6;
}

.text-sorting-link[href]:active {
  opacity: 1;
}

.text-sorting-link:not([href]) {
  font-weight: 200;
  font-size: 14px;
  line-height: 18px;
  color: #000000;
  text-decoration: none;
}

.by-order a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 11px;
  height: 10px;
  margin-left: 19px;

  opacity: 0.3;
}

.text-sorting-item-down a {
  background-image: url("../img/svg-nerds/icon-down-dir.svg");
  background-repeat: no-repeat;
  opacity: 1;
}

.text-sorting-up a {
  background-image: url("../img/svg-nerds/icon-up-dir-hover.svg");
  background-repeat: no-repeat;
}

.text-sorting-up a:hover,
.text-sorting-up a:focus {
  opacity: 0.6;
}
.text-sorting-up a:active {
  opacity: 1;
}

.presentation {
  width: 800px;
  margin: 0;
  padding: 0;
}

.presentation-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
      flex-wrap: wrap;
  margin: 0;
  padding: 0;
  padding-bottom: 20px;

  list-style: none;

  -ms-flex-wrap: wrap;
}

.presentation-item {
  position: relative;

  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 360px;
  height: 616px;
  margin-right: 40px;
  margin-bottom: 35px;
  padding-top: 38px;

  background-image: url("../img/svg-nerds/grayheader.svg");
  background-repeat: no-repeat;
  background-position: top left;
}

.presentation-item:hover {
  background-image: url("../img/svg-nerds/blackheader.svg");
  background-repeat: no-repeat;
  background-position: top left;
  -webkit-box-shadow: 0 6px 15px rgba(0, 1, 1, 0.25);
          box-shadow: 0 6px 15px rgba(0, 1, 1, 0.25);
}

.presentation-item:nth-child(2n) {
  margin-right: 0;
}

.presentation-item img {
  display: block;
  width: 360px;
  height: 574px;
}

.project-header {
  position: relative;
}

.project-header {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;

  width: 100%;
  height: 2px;
}

.project-header {
  position: relative;
}

.projects-item {
  color: black;
  text-decoration: none;
}

.project-button {
  margin: 0 auto;
  margin-bottom: 43px;

  cursor: pointer;
}

.project-button:hover {
  background-color: #e74246;
}

.project-button:focus {
  color: rgba(223, 219, 219, 1);

  background-color: #d7373b;
  -webkit-box-shadow: inset 0 3px 0 rgba(0, 1, 1, 0.1);
          box-shadow: inset 0 3px 0 rgba(0, 1, 1, 0.1);
}

.item-info {
  position: absolute;
  bottom: 1px;
  left: 0;
  z-index: 15;

  display: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 360px;
  min-height: 231px;
  padding: 0 80px;

  background-color: #eeeeee;
}

.presentation-item:hover .item-info {
  display: block;
}

.item-info h3 {
  margin: 0;
  margin-top: 32px;
  margin-bottom: 38px;

  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  text-align: center;
  text-transform: uppercase;
}

.item-info p {
  width: 200px;
  max-height: 300px;
  margin: 0 auto;
  margin-bottom: 30px;
  overflow-y: auto;

  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-align: center;
  color: #666666;
}

.pagination-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding: 0;

  list-style: none;
}

.pagination-item {
  margin-right: 11px;
}

.pagination-item a {
  display: inline-block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 50px;
  padding: 0 21px;
  padding-top: 16px;

  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  vertical-align: top;
  color: #000000;
  text-transform: uppercase;
  text-decoration: none;

  background-color: #eeeeee;
  border-radius: 3px;
}

.pagination-item a:hover,
.pagination-item a:focus {
  background-color: #dfdfdf;
}

.pagination-item a:active {
  color: rgba(0, 0, 0, 0.3);

  background-color: #d5d5d5;
  -webkit-box-shadow: inset 0 3px 0 rgba(0, 1, 1, 0.1);
          box-shadow: inset 0 3px 0 rgba(0, 1, 1, 0.1);
}

.pagination-item .pagination-item-current {
  height: 50px;
  padding: 0 18px;
  padding-top: 13px;

  background-color: #ffffff;
  border: 3px solid #dbdbdb;
}

.pagination-item .pagination-item-current:hover,
.pagination-item .pagination-item-current:focus {
  color: #000000;

  background-color: #ffffff;
  border: 3px solid #dbdbdb;
}

.pagination-item .pagination-item-next {
  width: 260px;

  text-align: center;
}

@-webkit-keyframes bounce {
  0% {
    -webkit-transform: translateY(-2000px);
            transform: translateY(-2000px);
  }

  70% {
    -webkit-transform: translateY(30px);
            transform: translateY(30px);
  }

  90% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }

  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes bounce {
  0% {
    -webkit-transform: translateY(-2000px);
            transform: translateY(-2000px);
  }

  70% {
    -webkit-transform: translateY(30px);
            transform: translateY(30px);
  }

  90% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }

  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@-webkit-keyframes shake {
  0%,
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    -webkit-transform: translateX(-10px);
            transform: translateX(-10px);
  }

  20%,
  40%,
  60%,
  80% {
    -webkit-transform: translateX(10px);
            transform: translateX(10px);
  }
}

@keyframes shake {
  0%,
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    -webkit-transform: translateX(-10px);
            transform: translateX(-10px);
  }

  20%,
  40%,
  60%,
  80% {
    -webkit-transform: translateX(10px);
            transform: translateX(10px);
  }
}

.modal {
  position: fixed;

  display: none;

  background-color: #ffffff;
  -webkit-box-shadow: 0 20px 40px rgba(0, 1, 1, 0.75);
          box-shadow: 0 20px 40px rgba(0, 1, 1, 0.75);
}

.modal-write-us {
  bottom: 100px;
  left: 50%;
  z-index: 5000;

  width: 760px;
  margin-left: -480px;
  padding: 66px 100px;
}

.modal-show {
  display: block;

  -webkit-animation: bounce 0.6s;
          animation: bounce 0.6s;
}

.modal-error {
  -webkit-animation: shake 0.8s;
          animation: shake 0.8s;
}

.write-us-wrapper {
  position: relative;

  width: 100%;
  height: 100%;
}

.write-us-title {
  margin: 0;
  margin-bottom: 35px;

  font-weight: 500;
  font-size: 45px;
  line-height: 45px;
  color: #000000;
}

.write-us-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
      flex-wrap: wrap;
  justify-content: space-between;

  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  -ms-flex-wrap: wrap;
}

.write-us-item {
  width: 360px;
  margin: 0;
  margin-bottom: 34px;

  font: inherit;
}

.write-us-form p:nth-child(3) {
  width: 760px;
  margin-bottom: 47px;
}

.write-us-item label {
  display: block;
  margin: 0;
  margin-bottom: 10px;

  font-weight: 700;
  font-size: 16px;
  line-height: 18px;
  color: #000000;
}

.write-us-item input {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 360px;
  padding: 14px 12px;

  font: inherit;

  border: 2px solid #d7dcde;
  border-radius: 5px;
}

.write-us-item input:hover,
.write-us-item textarea:hover {
  border-color: #b4b9bb;
}

.write-us-item input:focus,
.write-us-item textarea:focus {
  color: #000000;

  border-color: #000000;
  outline: none;
}

.write-us-item input:invalid {
  color: #e74246;

  border-color: #e74246;
  opacity: 1;
}

.write-us-item input[type="text"]::-webkit-input-placeholder {
  color: rgba(68, 68, 68, 0.5);
}

.write-us-item input[type="text"]:-ms-input-placeholder {
  color: rgba(68, 68, 68, 0.5);
}

.write-us-item input[type="text"]::-ms-input-placeholder {
  color: rgba(68, 68, 68, 0.5);
}

.write-us-item input[type="text"]::placeholder {
  color: rgba(68, 68, 68, 0.5);
}

.write-us-item textarea {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 760px;
  min-height: 118px;
  padding: 11px 12px;

  font: inherit;
  color: rgba(68, 68, 68, 0.5);

  border: 2px solid #d7dcde;
  border-radius: 5px;

  resize: none;
}

.write-us-button {
  width: 260px;

  text-align: center;

  border: none;
  cursor: pointer;
}

.modal-close {
  position: absolute;
  top: 13px;
  right: -10px;

  width: 21px;
  height: 21px;

  font-size: 0;

  background-color: transparent;
  border: 0;
}

.modal-close::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;

  width: 21px;
  height: 21px;

  background-image: url("../img/svg-nerds/close-cross.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  cursor: pointer;
  opacity: 0.3;
}

.modal-close:hover::before {
  opacity: 1;
}

.modal-close:focus::before {
  opacity: 0.1;
}
