body {
	margin: 0;
	padding: 0;
	font-family: "Roboto", "Arial", sans-serif;
	font-size: 16px;
	line-height: 18px;
	color: #000000;
	background-color: #ffffff;
}

a {
	text-decoration: none;
}

img {
	max-width: 100%;
	height: auto;
}

ul {
	list-style: none;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	white-space: nowrap;
	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}

.container {
	width: 1160px;
	margin: 0 auto;
}

.main-header,
.container-slider {
	background-color: #eeeeee;
}

.main-header {
	padding-top: 49px;
}

.main-navigation {
	display: flex;
}

.main-navigation-list,
.cart-navigation-list {
	display: flex;
	margin: 0;
	margin-left: 200px;
	padding: 0;
	padding-top: 26px;
	list-style: none;
}

.main-navigation-list {
	justify-content: space-between;
	width: 440px;
}

.cart-navigation-list{
	justify-content: flex-end;
	width: 160px;
}

.main-navigation-list a,
.cart-navigation-list a {
	padding-bottom: 10px;
	font-family: "Roboto", "Arial", sans-serif;
	font-size: 16px;
	line-height: 30px;
	color: #000000;
	font-weight: 500;
	text-transform: uppercase;
}

.main-navigation-list a:hover,
.cart-navigation-list a:hover {
	color: #fb565a;
}

.main-navigation-list a:focus,
.cart-navigation-list a:focus {
	color: #b3b2b2;
	padding-bottom: 8px;
}

.cart-navigation-list .cart-navigation-link {
	position: relative;
	padding-left: 40px;
}

.cart-navigation-link::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 15px;
	height: 15px;
	background-image: url("../img/svg-nerds/cart-icon.svg");
	background-repeat: no-repeat;
	background-position: 0 0;
}

.main-navigation-link:not([href]):hover {
	color: #fb565a;
}

.main-navigation-link:not([href]): {
	position: relative;
	border-bottom: 2px solid #fb565a;
}

.main-navigation-link:not([href])::after {
	content: "";
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 2px;
}

.container-slider {
	position: relative;
	width: 1160px;
	min-height: 430px;
}

.container-slider input[type="radio"] {
	position: absolute;
	z-index: 100;
	opacity: 0;
}

.container-slider-controls {
	position: absolute;
	bottom: 98px;
	left: 50%;
	z-index: 1000;
	display: flex;
	justify-content: space-between;
	width: 88px;
	height: 18px;
	margin-left: -44px;
}

.container-slider-controls label {
	position: relative;
	display: inline-block;
	width: 18px;
	height: 18px;
	vertical-align: top;
	background-color: #ffffff;
	border-radius: 50%;
	cursor: pointer;
}

#btn-first:checked ~ .container-slider-controls label[for="btn-first"]::after,
#btn-second:checked ~ .container-slider-controls label[for="btn-second"]::after,
#btn-third:checked ~ .container-slider-controls label[for="btn-third"]::after {
	content: "";
	position: absolute;
	top: 5px;
	left: 5px;
	width: 4px;
	height: 4px;
	background-color: #ffffff;
	border: 2px solid #c1c1c1;
	border-radius: 50%;
}

.slider-item {
	position: absolute;
	top: 0;
	left: 0;
	display: none;
	width: 100%;
	height: 100%;
}

.features {
	position: relative;
	display: flex;
	width: 100%;
	height: 100%;
}

.slide-wrapper {
	position: absolute;
	top: 0;
	z-index: 2;
	width: 530px;
	padding-top: 73px;
}

.slide-img-wrapper {
	display: flex;
	align-items: center;
	justify-content: center;
	position: absolute;
	top: 5px;
	left: 400px;
	right: 20px;
	z-index: 0;
	width: 760px;
	min-height: 430px;
}

#btn-first:checked ~ .slider-items .slider-item:nth-child(1),
#btn-second:checked ~ .slider-items .slider-item:nth-child(2),
#btn-third:checked ~ .slider-items .slider-item:nth-child(3) {
	display: block;
}

.features-header {
	margin: 0;
	font-size: 55px;
	line-height: 55px;
	font-weight: 500;
	color: #000000;
}

.text {
	margin: 0;
	font-size: 16px;
	line-height: 24px;
	font-weight: 400;
	color: #283136;
}

.slider-item h3 {
	margin-bottom: 27px;
}

.slider-item p {
	margin-bottom: 40px;
}

.button {
	display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 200px;
    padding: 15px 0;
    font-size: 16px;
    line-height: 18px;
    color: #ffffff;
    text-transform: uppercase;
    text-align: center;
    text-decoration: none;
    background-color: #fb565a;
    border-radius: 3px;
    border: none;
}

.button-red {
    width: 160px;
}

.button-red:hover {
	background-color: #e74246;
}

.button-red:focus {
	background-color: #d7373b;
	box-shadow: inset 0 3px 0 rgba(0, 1, 1, 0.1);
	color: rgba(255, 255, 255, 0.3);
}

.slider-button {
	font-weight: 300;
	width: 240px;
	height: 20px;
    text-align: center;
}
.button-green {
	width: 160px;
    background-color: #00ca74;
}

.button-green:hover {
	background-color: #00bc6c;
}

.button-green:focus {
	background-color: #00aa62;
	box-shadow: inset 0 3px 0 rgba(0, 1, 1, 0.1);
	color: rgba(255, 255, 255, 0.3);
}

.button-yellow {
	width: 160px;
    background-color: #efc84a;
}

.button-yellow:hover {
	background-color: #eab534;
}

.button-yellow:focus {
	background-color: #e5a722;
	box-shadow: inset 0 3px 0 rgba(0, 1, 1, 0.1);
	color: rgba(255, 255, 255, 0.3);
}

.cards-wrapper {
	padding-bottom: 79px;
	padding-top: 79px;
}

.cards-wrapper h4 {
	margin: 0;
  margin-top: 20px;
	margin-bottom: 16px;
	font-size: 24px;
	line-height: 30px;
	font-weight: 700;
	text-transform: uppercase;
}

.cards-wrapper p {
	margin: 0;
	padding-bottom: 32px;
	width: 255px;
}

.cards-wrapper-list {
	display: flex;
	margin: 0;
	padding: 0;
	list-style: none;
}

.cards-wrapper-list li {
	width: 300px;
	min-height: 348px;
	margin-left: 100px;
}

.cards-wrapper-list li:nth-child(1) {
	margin-left: 0;
	background-repeat: no-repeat;
	background-position: top left;
}

.cards-wrapper-list li:nth-child(2) {
	background-repeat: no-repeat;
	background-position: top left;
}

.cards-wrapper-list li:nth-child(3) {
	background-repeat: no-repeat;
	background-position: top left;
}

.about-us {
	display: flex;
    flex-direction: row;
    align-items: left;
    justify-content: space-between;
    width: 1160px;
    margin: auto;
    padding-bottom: 72px;
    border-top: 2px solid #eeeeee;
}

.about-us-left {
	width: 660px;
}

.about-us h4 {
	margin: 0;
	padding-top: 72px;
	margin-bottom: 33px;
	font-size: 45px;
	line-height: 45px;
	font-weight: 500;
}

.text-bold {
	margin: 0;
	margin-top: 40px;
	margin-bottom: 24px;
	font-size: 16px;
	line-height: 24px;
	font-weight: 700;
	text-transform: uppercase;
}

.about-us-list {
	margin: 0;
	padding: 0;
	list-style: none;
}

.about-us-list li {
	margin-bottom: 24px;
	padding-left: 42px;
}

.about-us-list li:last-child {
	margin-bottom: 0;
}

.about-us-right {
	width: 360px;
	padding-top: 40px;
}

.about-us-right .text-bold {
	margin-top: 32px;
	text-align: center;
	padding-bottom: 6px;
}

.text-order {
	position: relative;
	margin: 0;
	padding: 0;
	margin-left: -5px;
	margin-bottom: 24px;
}

.text-order:before {
    content: "";
    position: absolute;
    top: 10px;
    left: 8px;
    width: 25px;
    height: 2px;
    background-color: #fb565a;
}

.text-16-18 {
	font-size: 16px;
	line-height: 18px;
}

.sup {
	position: absolute;
	top: -7px;
	font-size: 25px;
	font-weight: 500;
}
.our-advantages-list {
	list-style: none;
	display: flex;
	justify-content: space-between;
	width: 345px;
	margin: 0;
	padding: 0;
	padding-top: 7px
	list-style: none;
}

.our-advantages-list li {
	width: 100px;
}

.our-advantages-list li:last-child {
	width: 108px;
}

.numbers {
	position: relative;
	margin: 0;
	margin-bottom: 10px;
	font-size: 45px;
	line-height: 65px;
	font-weight: 700;
	white-space: nowrap;
}


.partners {
	padding-top: 40px;
	padding-bottom: 42px;
	margin: 0;
	margin-bottom: 80px;
	border-top: 2px solid #eeeeee;
	border-bottom: 2px solid #eeeeee;
}

.partners-list {
	padding: 0;
	margin: 0;
	display: flex;
	flex-wrap: wrap;
}

.partners-link {
	display: block;
	margin-top: 20px;
	padding: 0 30px;
}

.partners-item {
	position: relative;
	margin: 0;
	padding: 0;
	margin-right: 40px;
	width: 260px;
}

.partners-item:first-child {
	margin-left: 0px;
}

.partners-item:last-child {
	margin-right: 0px;
}

.partners-link {
	opacity: 0.2;
}

.partners-link:hover {
	opacity: 1;
}

.partners-link:active {
	opacity: 0.1;
}

.partners-link-1 {
	display: block;
	margin-top: 5px;
	padding: 0 25px;
}

.partners-link-2 {
	display: block;
	margin-top: 24px;
	padding: 0 35px;
}

.partners-link-3 {
	display: block;
	margin-top: 10px;
	padding: 0 45px;
}

.partners-item-line::before{
	content: "";
	position: absolute;
	background-color: #eee;
	top: 25px;
	left: -22px;

	width: 2px;
	height: 52px;
}

.contacts-wrapper {
	position: relative;
}

.contacts-wrapper-catalog {
	padding-top: 60px;
}

.map {
	position: relative;
	height: 416px;
}

.map iframe {
  position: absolute;
  z-index: 2;

  border: none;
  
  width: 100%;
  height: 416px;
}

.map-image {
	width: 100%;
	height: 100%;
	vertical-align: middle;
	text-align: center;
	margin: 0;
	padding: 0;
}

.map-image::after {
	content: "";
	display: inline-block;
	height: 100%;
	vertical-align: middle;
}

.map-image-item {
	height: 416px;
}

.contacts {
	position: absolute;

	top: 54px;
	z-index: 5;
	padding: 0 50px;
	width: 319px;
	height: 319px;
	background-color: #ffffff;
	box-sizing: border-box;
}

.contacts-catalog {
	margin-top: 60px;
}

.contacts h4 {
	margin: 0;
	margin-top: 48px;
	margin-bottom: 23px;
	font-size: 18px;
	line-height: 30px;
	font-weight: 700;
	text-transform: uppercase;
}

.contacts-text {
	margin: 0;
	margin-bottom: 19px;
  padding-left: 2px;
  padding-right: 5px;
	font-size: 16px;
	line-height: 18px;
	color: #666666;
	font-weight: 400;
}

.contacts-button {
	width: 218px;
	margin-top: 37px;
}

.catalog-footer {
	margin-top: 60px;
}

.footer-social {
	display: flex;
	padding: 70px 0;
}

.footer-social-list {
	display: flex;
	justify-content: space-between;
	width: 260px;
	margin: 0;
	margin-right: 140px;
	padding: 0;
	list-style: none;
}

.footer-social-link {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 78px;
	height: 78px;
	background-color: #e1e1e1;
	border-radius: 50%;
}

.footer-social-link:hover {
	background-color: #e74246;
}

.footer-social-link:focus {
	background-color: #d7373b;
	fill-opacity: 0.3;
}

.footer-social-text {
	width: 560px;
}

.footer-social h4 {
	margin: 0;
	margin-top: 3px;
	margin-bottom: 12px;
	font-size: 36px;
	line-height: 36px;
	color: #000000;
	font-weight: 700;
}

.footer-social p {
	margin: 0;
	font-size: 16px;
	line-height: 22px;
	color: #444444;
	font-weight: 400;
}

.nerds-logo[href]:hover {
	opacity: 0.8;
}

.nerds-logo[href]:focus {
	opacity: 0.3;
}

.caption-catalog {
	padding-top: 73px;
	padding-bottom: 110px;
	text-align: center;
	background-color: #eeeeee;
}

.catalog-main-wrapper {
	display: flex;
  padding-top: 58px;
  padding-bottom: 60px;
}

.form {
	width: 260px;
	margin-right: 140px;
}

.fieldset-wrapper-first {
	margin-top: -5px;
	text-transform: uppercase
}

.form fieldset {
	margin: 0;
	padding: 0;
	border: none;
}

.form ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

.filter-scroll-range {
	width: 260px;
	margin-top: 50px;
	margin-bottom: 52px;
}

.filter-scroll-controls {
	position: relative;
	height: 80px;
	margin-bottom: 15px;
	padding: 0 20px;
	background-color: #eeeeee;
	border-radius: 5px;
	overflow: hidden;
}

.filter-scroll-controls .scale {
	margin-top: 39px;
	height: 2px;
	background-color: #d7dcde;
}

.filter-scroll-controls .bar {
	height: 2px;
	background-color: #00ca74;
}

.filter-scroll-controls .toggle {
	position: absolute;
	top: 30px;
	left: 18px;
	width: 4px;
	height: 4px;
	border: 8px solid white;
	background-color: #ababab;
	cursor: pointer;
	border-radius: 50%;
	box-shadow: 0 2px 1px 0 #cfcfcf;
}

.filter-scroll-controls .max-toggle {
	left: 160px;
}


.price-controls {
	display: flex;
	justify-content: space-between;
}

.price-controls input {
	width: 60px;
	padding: 8px 10px;
	margin-left: 10px;
	border: none;
	background: #f1f1f1;
	font-size: 16px;
	line-height: 22px;
	font-family: "Roboto", "Arial", sans-serif;
	font-weight: 400;
	text-align: center;
	color: #283136;
	border-radius: 5px;
}

.fieldset-wrapper-second {
	margin-bottom: 45px;
}

.filter-input {
	padding-left: 36px;
	margin-top: 19px;
}

.filter-input-radio {
	position: relative;
}

.filter-input-radio:hover,
.filter-input-radio:focus {
	color: #000000;
}

.filter-input-radio:disabled {
	color: rgba(40, 49, 54, 0.3);
}

.filter-input-radio input[type="radio"] + .radio-indicator {
	position: absolute;
	top: -3px;
	left: -36px;
	width: 25px;
	height: 25px;
	background-image: url("../img/svg-nerds/radio-off.svg");
	background-repeat: no-repeat;
	background-position: 0 0;
	opacity: 0.4;
}

.filter-input-radio input[type="radio"]:hover + .radio-indicator,
.filter-input-radio input[type="radio"]:focus + .radio-indicator {
	opacity: 1;
}

.filter-input-radio input[type="radio"]:disabled + .radio-indicator {
	opacity: 0.1;
}

.filter-input-radio input[type="radio"]:checked + .radio-indicator {
	position: absolute;
	top: -3px;
	left: -36px;
	width: 25px;
	height: 25px;
	background-image: url("../img/svg-nerds/radio-on.svg");
	background-repeat: no-repeat;
	background-position: 0 0;
	opacity: 0.4;
}

.filter-input-radio input[type="radio"]:checked:hover + .radio-indicator,
.filter-input-radio input[type="radio"]:checked:focus + .radio-indicator {
	opacity: 1;
}

.filter-input-radio input[type="radio"]:checked:disabled + .radio-indicator {
	opacity: 0.1;
}

.filter-input-checkbox {
	position: relative;
}

.filter-input-checkbox:hover,
.filter-input-checkbox:focus {
	color: #000000;
}

.filter-input-checkbox:disabled {
	color: rgba(40, 49, 54, 0.3);
}

.filter-input-checkbox input[type="checkbox"] + .checkbox-indicator {
	position: absolute;
	top: -2px;
	left: -36px;
	width: 23px;
	height: 23px;
	background-image: url("../img/svg-nerds/checkbox-off.svg");
	background-repeat: no-repeat;
	background-position: 0 0;
	opacity: 0.4;
}

.filter-input-checkbox input[type="checkbox"]:hover + .checkbox-indicator,
.filter-input-checkbox input[type="checkbox"]:focus + .checkbox-indicator {
	opacity: 1;
}

.filter-input-checkbox input[type="checkbox"]:disabled + .checkbox-indicator {
	opacity: 0.1;
}

.filter-input-checkbox input[type="checkbox"]:checked + .checkbox-indicator {
	position: absolute;
	top: -2px;
	left: -36px;
	width: 27px;
	height: 23px;
	background-image: url("../img/svg-nerds/checkbox-on.svg");
	background-repeat: no-repeat;
	background-position: 0 0;
	opacity: 0.4;
}

.filter-input-checkbox input[type="checkbox"]:checked:hover + .checkbox-indicator,
.filter-input-checkbox input[type="checkbox"]:checked:focus + .checkbox-indicator {
	opacity: 1;
}

.filter-input-checkbox input[type="checkbox"]:checked:disabled + .checkbox-indicator {
	opacity: 0.1;
}

.form legend {
	font-size: 18px;
	line-height: 30px;
	font-weight: 700;
	text-transform: uppercase
}

.form label {
	font-size: 16px;
	line-height: 20px;
	font-weight: 400;
	color: #283136;
}

.button-form {
    margin: 0;
    width: 258px;
    margin-top: 50px;
    margin-right: 40px;
    padding-right: 10px;
    padding-left: 9px;
    font-weight: 500;
    color: #000000;
    background-color: #eeeeee;
}

.button-form:hover {
	background-color: #dfdfdf;
}

.button-form:focus {
	background-color: #d5d5d5;
	color: rgba(0, 0, 0, 0.3);
	box-shadow: inset 0 3px 0 rgba(0, 1, 1, 0.1);
	outline: none;
}

.presentation {
	width: 800px;
	margin: 0;
	padding:0;
}

.presentation-list {
	display: flex;
	flex-wrap: wrap;
	margin: 0;
	padding: 0;
	padding-bottom: 20px;
	list-style: none;
}

.presentation-item {
  position: relative;
  width: 360px;
  margin-right: 40px;
  margin-bottom: 35px;
  height: 616px;
  background-image: url("../img/svg-nerds/grayheader.svg");
  background-repeat: no-repeat;
  background-position: top left;
  padding-top: 38px;
  box-sizing: border-box;

}

.presentation-item:hover {
	background-image: url("../img/svg-nerds/blackheader.svg");
	background-repeat: no-repeat;
	background-position: top left;
	box-shadow: 0 6px 15px rgba(0, 1, 1, 0.25);
}

.presentation-item:nth-child(2n) {
	margin-right: 0;
}

.presentation-item img {
	width: 358px;
	height: 574px;
	border: 1px solid rgba(0, 1, 1, 0.1);
	display: block;
}

.presentation-item:hover.presentation-item  img {
	border: 1px solid rgba(77, 77, 77, 0.1);
}
.project-header{
	position: relative;
}

.project-header{
  content: "";
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 2px;
}

.project-header{
	position: relative;
}

.projects-item {
	color: black;
}

.project-button {
    margin: 0 auto;
    cursor: pointer;
    margin-bottom: 43px;
}

.text-sorting {
	margin: 0;
	margin-bottom: 55px;
	font-size: 18px;
	line-height: 18px;
	font-weight: 700;
	text-transform: uppercase;
}

.text-sorting a {
	padding-right: 20px;
	font-size: 14px;
	line-height: 18px;
	font-weight: 400;
	color: #000000;
	opacity: 0.3;
}

.text-sorting a:nth-child(1) {
	margin-left: 262px;
}

.text-sorting a:hover {
	opacity: 0.6;
}

.text-sorting a:focus {
	opacity: 1;
}

.text-sorting-filters-1,
.text-sorting-filters-2 {
	position: relative;
	display: inline-block;
	width: 11px;
	height: 10px;
	margin-top: 5px;
	vertical-align: top;
	text-indent: -9999px;
	overflow: hidden;
}

.text-sorting-filters-1 {
  padding-right: 25px;
}
.text-sorting-filters-2{
  padding-right: 12px;
}
.text-sorting-filters-1::before {
	content: "";
	position: absolute;
	top: 0;
	right: 0;
	width: 11px;
	height: 10px;
	background-image: url("../img/svg-nerds/icon-down-dir.svg");
	background-repeat: no-repeat;
	background-position: 0 0;
	cursor: pointer;
}

.text-sorting-filters-1:hover::before {
	opacity: 0,3;
}


.text-sorting-filters-1:active::before {
	background-image: url("../img/svg-nerds/icon-down-dir-hover.svg");
}

.text-sorting-filters-2::before {
	content: "";
	position: absolute;
	top: 0;
	right: 0;
	width: 11px;
	height: 10px;
	background-image: url("../img/svg-nerds/icon-up-dir-hover.svg");
	background-repeat: no-repeat;
	background-position: 0 0;
	opacity: 0.2;
	cursor: pointer;
}

.text-sorting-filters-2:hover::before {
	opacity: 1;
}

.text-sorting-filters-2:active::before {
	background-image: url("../img/svg-nerds/icon-up-dir.svg");
}

.item-info {
	position: absolute;
	bottom: 1px;
	left: 0;
	z-index: 15;
	display: none;
	width: 360px;
	padding: 0 80px;
	min-height: 231px;
	background-color: #eeeeee;
	box-sizing: border-box;
}

.presentation-item:hover .item-info {
	display: block;
}

.item-info h4 {
	margin: 0;
	margin-top: 32px;
	margin-bottom: 38px;
	font-size: 18px;
	line-height: 30px;
	font-weight: 700;
	text-align: center;
	text-transform: uppercase;
}

.item-info p {
	margin: 0;
	margin-bottom: 30px;
	font-size: 16px;
	line-height: 18px;
	font-weight: 400;
	text-align: center;
	color: #666666;
}

.pagination-list {
	display: flex;
	margin: 0;
	padding: 0;
	list-style: none;
}

.pagination-item {
	margin-right: 11px;
}

.pagination-item a {
	display: inline-block;
	height: 50px;
	padding: 0 21px;
	padding-top: 16px;
	font-size: 16px;
	line-height: 18px;
	font-weight: 500;
	vertical-align: top;
	text-transform: uppercase;
	color: #000000;
	background-color: #eeeeee;
	border-radius: 3px;
	box-sizing: border-box;
}

.pagination-item a:hover {
	background-color: #dfdfdf;
}

.pagination-item a:focus {
	background-color: #d5d5d5;
	box-shadow: inset 0 3px 0 rgba(0, 1, 1, 0.1);
	color: rgba(0, 0, 0, 0.3);
}

.pagination-item .pagination-item-current {
	height: 50px;
	padding: 0 18px;
	padding-top: 13px;
	background-color: #ffffff;
	border: 3px solid #dbdbdb;
}

.pagination-item .pagination-item-current:hover,
.pagination-item .pagination-item-current:focus {
	background-color: #ffffff;
	border: 3px solid #dbdbdb;
	color: #000000;
}

.pagination-item .pagination-item-next {
	width: 260px;
	text-align: center;
}

@keyframes shake {
	0%,
	100% {
		transform: translateX(0);
	}

	10%,
	30%,
	50%,
	70%,
	90% {
		transform: translateX(-10px);
	}

	20%,
	40%,
	60%,
	80% {
		transform: translateX(10px);
	}
}

.modal {
	position: fixed;
	display: none;
	background-color: #ffffff;
	box-shadow: 0 20px 40px rgba(0, 1, 1, 0.75);
}

.modal-write-us {
	bottom: 100px;
	left: 50%;
	z-index: 5000;
	width: 760px;
	padding: 66px 100px;
	margin-left: -480px;
}

.modal-show {
	display: block;
}

.modal-error {
	animation: shake 0.8s;
}

.write-us-wrapper {
	position: relative;
	width: 100%;
	height: 100%;
}

.write-us-title {
	margin: 0;
	margin-bottom: 35px;
	font-size: 45px;
	line-height: 45px;
	font-weight: 500;
	color: #000000;
}

.write-us-form {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.write-us-item {
	width: 360px;
	margin: 0;
	margin-bottom: 34px;
}

.write-us-form p:nth-child(3) {
	width: 760px;
	margin-bottom: 47px;
}

.write-us-item label {
	display: block;
	margin: 0;
	margin-bottom: 10px;
	font-size: 16px;
	line-height: 18px;
	font-weight: 700;
	color: #000000;
}

.write-us-item input {
	width: 360px;
	padding: 14px 12px;
	border: 2px solid #d7dcde;
	border-radius: 5px;
	box-sizing: border-box;
}

.write-us-item input:hover,
.write-us-item textarea:hover {
	border-color: #b4b9bb;
}

.write-us-item input:focus,
.write-us-item textarea:focus {
	color: #000000;
	border-color: #000000;
	outline: none;
}

.write-us-item input[type="text"]::placeholder {
	color: rgba(68, 68, 68, 0.5);
}

.write-us-item textarea {
	width: 760px;
	min-height: 118px;
	padding: 11px 12px;
	border: 2px solid #d7dcde;
	border-radius: 5px;
	color: rgba(68, 68, 68, 0.5);
	box-sizing: border-box;
}

.write-us-button {
	width: 260px;
	border: none;
	text-align: center;
	cursor: pointer;
}

.modal-close {
	position: absolute;
	top: 13px;
	right: -10px;
	width: 21px;
	height: 21px;
	font-size: 0;
	background-color: transparent;
	border: 0;
}

.modal-close::before {
	content: "";
	position: absolute;
	top: 0;
	right: 0;
	width: 21px;
	height: 21px;
	background-image: url("../img/svg-nerds/close-cross.svg");
	background-repeat: no-repeat;
	background-position: 0 0;
	opacity: 0.3;
	cursor: pointer;
}

.modal-close:hover::before {
	opacity: 1;
}

.modal-close:focus::before {
	opacity: 0.1;
}
